.cardmain{
background: #171717;
 color: white; 
 border-radius: 10px; 
 height: 180px; 
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
position: relative;


}
/* image for card */
.cardImage{
width: 70%;
height: 170px;
border-radius: 15px;
/* margin-left: 40px; */
padding: 10px;
}


/* Content on right */
.contentRight{
    color: #ffffff;
}
/* Span elements */
.spanText{
    
background: rgba(0, 0, 0, 0.56);
padding: 5px;
margin:10px;


}